{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="page-title" style="background:#f4f4f4 url({% static 'assets/img/slider-1.jpg' %});" data-overlay="5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				
				<div class="breadcrumbs-wrap">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">جزئیات مشاور</li>
					</ol>
					<h2 class="breadcrumb-title">{{agent.full_name}} - {{agent.city}}</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ About Agency ================================== -->
<section class="gray">
	<div class="container">
		<div class="row">
		
			<!-- property main detail -->
			<div class="col-lg-8 col-md-12 col-sm-12">
				
				<!-- Single Block Wrap -->
				<div class="property_block_wrap">
					
					<div class="property_block_wrap_header">
						<h4 class="property_block_title">اطلاعات مشاور</h4>
					</div>
					
					<div class="block-body">
						<p>{{agent.about_me}}</p>
						<ul class="social-icons">
							{% if agent.whats_app %}<li><a href="{{agent.whats_app}}" class="linkedin"><i class="fa fa-whatsapp"></i></a></li>{% endif %}
							{% if agent.telegram %}<li><a href="{{agent.telegram}}" class="linkedin"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>{% endif %}
							{% if agent.insta %}<li><a href="{{agent.insta}}" class="linkedin"><i class="ti-instagram"></i></a></li>{% endif %}
							{% if agent.Email %}<li><a href="{{agent.Email}}" class="linkedin"><i class="ti-email"></i></a></li>{% endif %}
						</ul>
					</div>
					
				</div>
				
				<!-- Single Block Wrap -->
				<div class="_prtis_list mb-4">
					<div class="_prtis_list_header">
						<ul>
							<li>
								<div class="content_thumb"><i class="fa fa-envelope"></i></div>
								<div class="content">
									<span class="dark">{{agent.Email}}</span>
									<span class="title">ایمیل</span>
								</div>
							</li>
							<li>
								<div class="content_thumb"><i class="fa fa-phone"></i></div>
								<div class="content">
									<span class="dark"><a href="tel:{{agent.phone}}">{{agent.phone}}</a></span>
									<span class="title">شماره</span>
								</div>
							</li>
							<li>
								<div class="content_thumb"><i class="fa fa-map-marker"></i></div>
								<div class="content">
									<span class="dark">{{agent.address}}</span>
									<span class="title">موقعیت</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="_prtis_list_body">
						<ul class="deatil_features">
							<li><strong>{{agent.full_name}}</strong>نام</li>
							<li><strong>{{agent.phone}}</strong>شماره</li>
							<li><strong>تهران</strong>استان</li>
							<li><strong>{{agent.city}}</strong>شهر</li>
							
							<li><strong>{{agent.account.vilae_set.all.count}} ویلا</strong>ویلا ها</li>
							<li><strong>{{agent.account.aparteman_set.all.count}} اپارتمان</strong>اپارتمان ها</li>
						</ul>
					</div>
				</div>
				
				<!-- Single Block Wrap -->
				<div class="div_wraps">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h4>همه اپارتمان ها</h4>
						</div>
					</div>
				</div>
				
				<div class="row justify-content-center">
				
					<!-- Single Property -->
				{% for apa in agent.account.aparteman_set.all %}
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="property-listing property-2">
							
							<div class="listing-img-wrapper">
								<div class="_exlio_125">{{apa.status_buy}}</div>
								<div class="list-img-slide">
									<div class="click">
										<div><a href="{% url 'home:detailapa' apa.id %}"><img src="{{apa.image.url}}" class="img-fluid mx-auto" alt="" ></a></div>
										{% for image in apa.aparteman_images_set.all %}
										<div><a href="{% url 'home:detailapa' apa.id %}"><img src="{{image.images.url}}" class="img-fluid mx-auto" alt="" ></a></div>
										{% endfor %}
									</div>
								</div>
							</div>
							
							<div class="listing-detail-wrapper">
								<div class="listing-short-detail-wrap">
									<div class="_card_list_flex mb-2">
										<div class="_card_flex_01">
											{% if apa.status_buy == "برای خرید" %}
											<span class="_list_blickes _netork">{{apa.gheymat}} تومان</span>
											{% elif apa.status_buy == "برای رهن و اجاره" %}
											<span class="_list_blickes types">{{apa.gheymat_rahn}}<br> رهن </span>
											<span class="_list_blickes types">{{apa.gheymat_ejare}}<br>اجاره</span>
											{% endif %}
										</div>
										
									</div>
									<div class="_card_list_flex">
										<div class="_card_flex_01">
											<h4 class="listing-name verified">
												<a href="{% url 'home:detailapa' apa.id %}" class="prt-link-detail">{{apa.titr}}</a>
											</h4>
										</div>
									</div>
								</div>
							</div>
							
							<div class="price-features-wrapper">
								<div class="list-fx-features">
									<div class="listing-card-info-icon">
										<div class="inc-fleat-icon"><img src="{% static 'assets/img/bed.svg' %}" width="13" alt="" /></div>{{apa.tedad_otagh}} خوابه
									</div>
									<div class="listing-card-info-icon">
										<div class="inc-fleat-icon"><img src="{% static 'assets/img/bathtub.svg' %}" width="13" alt="" /></div>{{apa.tedad_dastshoe}} حمام
									</div>
									<div class="listing-card-info-icon">
										<div class="inc-fleat-icon"><img src="{% static 'assets/img/move.svg' %}" width="13" alt="" /></div>{{apa.andaze}} متر مربع
									</div>
								</div>
							</div>
							
							<div class="listing-detail-footer">
								<div class="footer-first">
									<div class="foot-location"><img src="{% static 'assets/img/pin.svg' %}" width="18" alt="" />{{apa.locations}}</div>
								</div>
								<div class="footer-flex">
									<ul class="selio_style">
										<li>
											<div class="prt_saveed_12lk">
												<label class="toggler toggler-danger" data-toggle="tooltip" data-placement="top" data-original-title="ذخیره"><input type="checkbox"><i class="ti-heart"></i></label>
											</div>
										</li>
										<li>
											<div class="prt_saveed_12lk">
												<a href="compare-property.html" data-toggle="tooltip" data-placement="top" data-original-title="مقایسه"><i class="ti-control-shuffle"></i></a>
											</div>
										</li>
										
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				{% endfor %}
					<!-- End Single Property -->
				</div>

				<div class="div_wraps">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h4>همه ویلا ها</h4>
						</div>
					</div>
				</div>
				
				<div class="row justify-content-center">
				
					<!-- Single Property -->
					
					{% for vil in agent.account.vilae_set.all %}
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="property-listing property-2">
							
							<div class="listing-img-wrapper">
								<div class="_exlio_125">{{vil.status_buy}}</div>
								<div class="list-img-slide">
									<div class="click">
										<div><a href="{% url 'home:detailvila' vil.id %}"><img src="{{vil.image.url}}" class="img-fluid mx-auto" alt="" ></a></div>
										{% for image in vil.vilae_image_set.all %}
										<div><a href="{% url 'home:detailvila' vil.id %}"><img src="{{image.images.url}}" class="img-fluid mx-auto" alt="" ></a></div>
										{% endfor %}
									</div>
								</div>
							</div>
							
							<div class="listing-detail-wrapper">
								<div class="listing-short-detail-wrap">
									<div class="_card_list_flex mb-2">
										<div class="_card_flex_01">
											{% if vil.status_buy == "برای خرید" %}
											<span class="_list_blickes _netork">{{vil.gheymat}} تومان</span>
											{% elif vil.status_buy == "برای اجاره" %}
											<span class="_list_blickes types">{{vil.gheymat_rahn}}<br> رهن </span>
											<span class="_list_blickes types">{{vil.gheymat_ejare}}<br>اجاره</span>
											{% endif %}
										</div>
										
									</div>
									<div class="_card_list_flex">
										<div class="_card_flex_01">
											<h4 class="listing-name verified">
												<a href="{% url 'home:detailvila' vil.id %}" class="prt-link-detail">{{vil.titr}}</a>
											</h4>
										</div>
									</div>
								</div>
							</div>
							
							<div class="price-features-wrapper">
								<div class="list-fx-features">
									<div class="listing-card-info-icon">
										<div class="inc-fleat-icon"><img src="{% static 'assets/img/bed.svg' %}" width="13" alt="" /></div>{{vil.tedad_otagh}} خوابه
									</div>
									<div class="listing-card-info-icon">
										<div class="inc-fleat-icon"><img src="{% static 'assets/img/bathtub.svg' %}" width="13" alt="" /></div>{{vil.tedad_dastshoe}} حمام
									</div>
									<div class="listing-card-info-icon">
										<div class="inc-fleat-icon"><img src="{% static 'assets/img/move.svg' %}" width="13" alt="" /></div>{{vil.andaze_bana}} متر مربع
									</div>
								</div>
							</div>
							
							<div class="listing-detail-footer">
								<div class="footer-first">
									<div class="foot-location"><img src="{% static 'assets/img/pin.svg' %}" width="18" alt="" />{{vil.locations}}</div>
								</div>
								<div class="footer-flex">
									<ul class="selio_style">
										<li>
											<div class="prt_saveed_12lk">
												<label class="toggler toggler-danger" data-toggle="tooltip" data-placement="top" data-original-title="ذخیره"><input type="checkbox"><i class="ti-heart"></i></label>
											</div>
										</li>
										<li>
											<div class="prt_saveed_12lk">
												<a href="compare-property.html" data-toggle="tooltip" data-placement="top" data-original-title="مقایسه"><i class="ti-control-shuffle"></i></a>
											</div>
										</li>
										
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				{% endfor %}
					<!-- End Single Property -->
				</div>
				
			</div>
			
			<!-- property Sidebar -->
			<div class="col-lg-4 col-md-12 col-sm-12">
				<div class="property-sidebar">
					
					<!-- Agent Detail -->
					<div class="sider_blocks_wrap">
						<div class="side-booking-body">
							<div class="agent-_blocks_title">
							
								<div class="agent-_blocks_thumb"><img src="{{agent.image.url}}" alt="{{agent.full_name}}"></div>
								<div class="agent-_blocks_caption">
									<h4>{{agent.full_name}}</h4>
									<span class="approved-agent"><i class="ti-check"></i>تایید شده</span>
								</div>
								<div class="clearfix"></div>
							</div>
							
							<a href="#" class="agent-btn-contact" data-toggle="modal" data-target="#autho-message"><i class="ti-comment-alt"></i>ارسال پیام</a>
							
							<span id="number" data-last="{{agent.phone}}">
								<span><i class="ti-headphone-alt"></i><a class="see">نمایش ... 09</a></span>
							</span>
						</div>
					</div>
					
					<!-- Featured Property -->
					<div class="sidebar-widgets">
						
						<h4>ملک های مشابه</h4>
						
						<div class="sidebar-property">
							
							<!-- List Sibar Property -->
							<div class="sides_list_property">
								<div class="sides_list_property_thumb">
									<img src="{% static 'assets/img/p-1.png' %}" class="img-fluid" alt="" />
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">آپارتمان جدید 2 خوابه تهران</a></h4>
									<span><i class="ti-location-pin"></i>تهران ، زعفرانیه</span>
									<div class="lists_property_price">
										<div class="lists_property_types">
											<div class="property_types_vlix sale">برای فروش</div>
										</div>
										<div class="lists_property_price_value">
											<h4>424 میلیون</h4>
										</div>
									</div>
								</div>
							</div>
							
							<!-- List Sibar Property -->
							<div class="sides_list_property">
								<div class="sides_list_property_thumb">
									<img src="{% static 'assets/img/p-4.png' %}" class="img-fluid" alt="" />
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">آپارتمان جدید 2 خوابه تهران</a></h4>
									<span><i class="ti-location-pin"></i>تهران ، زعفرانیه</span>
									<div class="lists_property_price">
										<div class="lists_property_types">
											<div class="property_types_vlix">برای اجاره</div>
										</div>
										<div class="lists_property_price_value">
											<h4>738 میلیون</h4>
										</div>
									</div>
								</div>
							</div>
							
							<!-- List Sibar Property -->
							
							
						</div>
						
					</div>
					
				</div>
			</div>
		
		</div>					
	</div>	
</section>
{% endblock body %}	