{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="page-title" style="background:#f4f4f4 url({% static 'assets/img/slider-5.jpg'%});" data-overlay="5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				
				<div class="breadcrumbs-wrap">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">مقایسه</li>
					</ol>
					<h2 class="breadcrumb-title">مقایسه - مقایسه ملک ها</h2>
				</div>
				
			</div>
		</div>
	</div>
</div>
<section>
	<div class="container">
		<div class="pricing packages_style_5">
			<div class="row">
				<div class="col-lg-3 text-center d-lg-block d-md-none d-sm-none d-none">
					<div class="compare_property_blank">
					</div>
					<ul>
						<li>
							<span>متراژ</span>
						</li>
						<li>
							<span>اتاق</span>
						</li>
						<li>
							<span>سن ساختمان</span>
						</li>
						<li>
							<span>حمام</span>
						</li>
						<li>
							<span>تهویه هوا</span>
						</li>
						<li>
							<span>اینترنت</span>
						</li>
						<li>
							<span>تراس</span>
						</li>
						<li>
							<span>wifi</span>
						</li>
						<li>
							<span>تخت خواب</span>
						</li>
						<li>
							<span>مایکروویو</span>
						</li>
						<li>
							<span>بالکنی</span>
						</li>
						<li>
							<span>ساحل</span>
						</li>
						<li>
							<span>سیستم گرمایشی</span>
						</li>
						<li>
							<span>سیگاری</span>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12 text-center pricing--emphasise">
					<div class="comp_properties">
						<div class="clp-img">
							{% if post.andaze %}
							
								<a href="{% url 'home:detailapa' post.id %}">
							{% else %}
									
								<a href="{% url 'home:detailvila' post.id %}">
							{% endif %}
								<img src="{{post.image.url}}" class="img-fluid" alt="">
									{% comment %} <span class="remove-from-compare"><i class="ti-close"></i></span> {% endcomment %}
						</div>
						</a>
						<div class="clp-title">
							<h4>{{post.titr}}</h4>
							{% if post.status_buy == "برای خرید" %}
							<span>{{post.gheymat}}تومن</span>
							{% elif post.status_buy == "برای اجاره" %}
							<span>{{post.gheymat_rahn}}رهن</span>
							<br>
							<span>{{post.gheymat_ejare}}اجاره</span>
							{% endif %}
						</div>
					</div>
					<ul>
						<li>
							{% if post.andaze %}{{post.andaze}}{% else %}{{post.andaze_bana}}{% endif %} متر مربع
							<span class="show-mb"></span>
						</li>
						<li>
							{{post.tedad_otagh}}
							<span class="show-mb">اتاق ها</span>
						</li>
						<li>
							{{post.sal_sakht}}
							<span class="show-mb">سن</span>
						</li>
						
						<li>
							{{post.tedad_dastshoe}}
							<span class="show-mb">حمام</span>
						</li>
						<li>
							{% if post.tahvie %}
							<div class="checkmark"></div>
							<span class="show-mb">تهویه هوا</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون تهویه هوا </span>
							{% endif %}
						</li>
						<li>
							{% if post.internet %}
							<div class="checkmark"></div>
							<span class="show-mb">اینترنت</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون اینترنت </span>
							{% endif %}
						</li>
						<li>
							{% if post.trass %}
							<div class="checkmark"></div>
							<span class="show-mb">تراس</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون تراس </span>
							{% endif %}
						</li>
						<li>
							{% if post.wifi %}
							<div class="checkmark"></div>
							<span class="show-mb">wifi</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون wifi </span>
							{% endif %}
						</li>
						<li>
							{% if post.bed %}
							<div class="checkmark"></div>
							<span class="show-mb">تخت خواب</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون تخت خواب </span>
							{% endif %}
						</li>
						<li>
							{% if post.micro %}
							<div class="checkmark"></div>
							<span class="show-mb">مایکروویو</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون مایکروویو </span>
							{% endif %}
						</li>
						<li>
							{% if post.balcony %}
							<div class="checkmark"></div>
							<span class="show-mb">بالکنی</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون بالکنی </span>
							{% endif %}
						</li>
						<li>
							{% if post.sahel %}
							<div class="checkmark"></div>
							<span class="show-mb">ساحل</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون ساحل </span>
							{% endif %}
						</li>
						<li>
							{% if post.system_garmayeshi %}
							<div class="checkmark"></div>
							<span class="show-mb">سیستم گرمایشی
							</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون سیستم گرمایشی
							 </span>
							{% endif %}
						</li>
						<li>
							{% if post.sigary %}
							<div class="checkmark"></div>
							<span class="show-mb">سیگاری</span>
							{% else %} 
							<div class="crossmark">
							<span class="show-mb">بدون سیگاری </span>
							{% endif %}
						</li>
						
						
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12 text-center">
					<div class="comp_properties">
						<div class="clp-img">
							{% if post.andaze %}
							
								<a href="{% url 'home:detailapa' post2.id %}">
							{% else %}
									
								<a href="{% url 'home:detailvila' post2.id %}">
							{% endif %}
								<img src="{{post2.image.url}}" class="img-fluid" alt="">
									{% comment %} <span class="remove-from-compare"><i class="ti-close"></i></span> {% endcomment %}
						</div>
						</a>
						<div class="clp-title">
							<h4>{{post2.titr}}</h4>
							{% if post2.status_buy == "برای خرید" %}
							<span>{{post2.gheymat}}تومن</span>
							{% elif post2.status_buy == "برای اجاره" %}
							<span>{{post2.gheymat_rahn}}رهن</span>
							<br>
							<span>{{post2.gheymat_ejare}}اجاره</span>
							{% endif %}
						</div>
					</div>
					<ul>
						<li>
							{% if post2.andaze %}{{post2.andaze}}{% else %}{{post2.andaze_bana}}{% endif %} متر مربع
							<span class="show-mb"></span>
						</li>
						<li>
							{{post2.tedad_otagh}}
							<span class="show-mb">اتاق ها</span>
						</li>
						<li>
							{{post2.sal_sakht}}
							<span class="show-mb">سن</span>
						</li>
						
						<li>
							{{post2.tedad_dastshoe}}
							<span class="show-mb">حمام</span>
						</li>
						<li>
							{% if post2.tahvie %}
							<div class="checkmark"></div>
							<span class="show-mb">تهویه هوا</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون تهویه هوا </span>
							{% endif %}
						</li>
						<li>
							{% if post2.internet %}
							<div class="checkmark"></div>
							<span class="show-mb">اینترنت</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون اینترنت </span>
							{% endif %}
						</li>
						<li>
							{% if post2.trass %}
							<div class="checkmark"></div>
							<span class="show-mb">تراس</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون تراس </span>
							{% endif %}
						</li>
						<li>
							{% if post2.wifi %}
							<div class="checkmark"></div>
							<span class="show-mb">wifi</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون wifi </span>
							{% endif %}
						</li>
						<li>
							{% if post2.bed %}
							<div class="checkmark"></div>
							<span class="show-mb">تخت خواب</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون تخت خواب </span>
							{% endif %}
						</li>
						<li>
							{% if post2.micro %}
							<div class="checkmark"></div>
							<span class="show-mb">مایکروویو</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون مایکروویو </span>
							{% endif %}
						</li>
						<li>
							{% if post2.balcony %}
							<div class="checkmark"></div>
							<span class="show-mb">بالکنی</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون بالکنی </span>
							{% endif %}
						</li>
						<li>
							{% if post2.sahel %}
							<div class="checkmark"></div>
							<span class="show-mb">ساحل</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون ساحل </span>
							{% endif %}
						</li>
						<li>
							{% if post2.system_garmayeshi %}
							<div class="checkmark"></div>
							<span class="show-mb">سیستم گرمایشی
							</span>
							{% else %}
							<div class="crossmark">
							<span class="show-mb">بدون سیستم گرمایشی
							 </span>
							{% endif %}
						</li>
						<li>
							{% if post2.sigary %}
							<div class="checkmark"></div>
							<span class="show-mb">سیگاری</span>
							{% else %} 
							<div class="crossmark">
							<span class="show-mb">بدون سیگاری </span>
							{% endif %}
						</li>
						
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %}	
