{% extends 'base.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">


			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Hero Banner  Start================================== -->
			<!-- Gallery Part Start -->
			<section class="gallery_parts pt-2 pb-2 d-none d-sm-none d-md-none d-lg-none d-xl-block">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-8 col-md-7 col-sm-12 pl-1">
							<div class="gg_single_part left"><a href="{{post.image.url}}" class="mfp-gallery"><img src="{{post.image.url}}" class="img-fluid mx-auto" alt="" /></a></div>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-12 pr-1">
							{% for image in post.vilae_image_set.all %}
								{% if forloop.counter > 3 %}
								<a href="{{image.images.url}}" class="mfp-gallery"></a>
								{% else %}
								<div class="gg_single_part-right min mt-2 mb-2"><a href="{{image.images.url}}" class="mfp-gallery"><img src="{{image.images.url}}" class="img-fluid mx-auto" alt="" /></a></div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
			
			<div class="featured_slick_gallery gray d-block d-md-block d-lg-block d-xl-none">
				<div class="featured_slick_gallery-slide">
					<div class="featured_slick_padd"><img src="{{post.image.url}}" class="img-fluid mx-auto" alt="" /></div>
					{% for image in post.vilae_image_set.all %}
						<div class="featured_slick_padd"><img src="{{image.images.url}}" class="img-fluid mx-auto" alt="" /></div>
					{% endfor %}
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ Property Detail Start ================================== -->
			<section class="pt-4">
				<div class="container">
					<div class="row">
						
						<!-- property main detail -->
						<div class="col-lg-8 col-md-12 col-sm-12">
							
							<div class="property_info_detail_wrap mb-4">
								
								<div class="property_info_detail_wrap_first">
									<div class="pr-price-into">
										<ul class="prs_lists">
											<li><span class="bed">{{post.tedad_otagh}} خوابه</span></li>
											<li><span class="bath">{{post.tedad_dastshoe}} حمام و دستشویی</span></li>
											<li><span class="gar">{{post.parking}} پارکینگ</span></li>
											<li><span class="sqft">{{post.andaze_bana}} مترمربع</span></li>
										</ul>
										<h2>{{post.titr}}</h2>
										<span><i class="lni-map-marker"></i> {{post.locations}}</span>
									</div>
								</div>
								
								<div class="property_detail_section">
									<div class="prt-sect-pric">
										<ul class="_share_lists">
											<li><a href="#"><i class="fa fa-bookmark"></i></a></li>
											<li><a href="#"><i class="fa fa-share"></i></a></li>
										</ul>
									</div>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap">
								
								<div class="property_block_wrap_header">
									<h4 class="property_block_title">درباره ملک</h4>
								</div>
								
								<div class="block-body">
									<p>{{post.tozihat_karbar}}</p>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap">
								
								<div class="property_block_wrap_header">
									<h4 class="property_block_title">ویژگی های پیشرفته</h4>
								</div>
								
								<div class="block-body">
									<ul class="row p-0 m-0">
										<li class="col-lg-4 col-md-6 mb-2 p-0"><i class="fa fa-bed ml-1"></i>{{post.tedad_otagh}} اتاق خواب</li>
										<li class="col-lg-4 col-md-6 mb-2 p-0"><i class="fa fa-bath ml-1"></i>{{post.tedad_dastshoe}} حمام</li>
										<li class="col-lg-4 col-md-6 mb-2 p-0"><i class="fa fa-expand-arrows-alt ml-1"></i>{{post.andaze_bana}} مترمربع</li>
										<li class="col-lg-4 col-md-6 mb-2 p-0"><i class="fa fa-building ml-1"></i>{{post.sal_sakht}}سال ساخت </li>
										{% if post.parking %}<li class="col-lg-4 col-md-6 mb-2 p-0"><i class="fa fa-car ml-1"></i>{{post.parking}}پارکینگ خودرو</li>{% endif %}
										{% comment %} <li class="col-lg-4 col-md-6 mb-2 p-0"><i class="fa fa-layer-group ml-1"></i>مسکونی</li> {% endcomment %}
										{% comment %} <li class="col-lg-4 col-md-6 mb-2 p-0"><i class="fa fa-spa ml-1"></i>رایگان</li> {% endcomment %}
									</ul>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap">
								
								<div class="property_block_wrap_header">
									<h4 class="property_block_title">امکانات رفاهی</h4>
								</div>
								
								<div class="block-body">
									<ul class="avl-features third">
										{% if post.tahvie  %}<li class="active">تهویه</li>{% endif %}
										{% if post.internet  %}<li class="active">اینترنت</li>{% endif %}
										{% if post.trass  %}<li class="active">تراس</li>{% endif %}
										{% if post.wifi  %}<li class="active">وای فای</li>{% endif %}
										{% if post.bed  %}<li class="active">تخت خواب</li>{% endif %}
										{% if post.micro  %}<li class="active">مایکروویو</li>{% endif %}
										{% if post.balcony  %}<li class="active">بالکنی</li>{% endif %}
										{% if post.sahel  %}<li class="active">ساحل</li>{% endif %}
										{% if post.system_garmayeshi  %}<li class="active">سیستم گرمایشی</li>{% endif %}
										{% if post.sigary  %}<li class="active">سیگاری</li>{% endif %}
									</ul>
									
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap">
								
								<div class="property_block_wrap_header">
									<h4 class="property_block_title">ویدیو ملک</h4>
								</div>
								
								<div class="block-body">
									<div class="property_video">
										<div class="thumb">
											<img class="pro_img img-fluid w100" src="{% static 'assets/img/p-3.png' %}" alt="7.jpg">
											<div class="overlay_icon">
												<div class="bb-video-box">
													<div class="bb-video-box-inner">
														<div class="bb-video-box-innerup">
															<a href="aparat.com" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap">
								
								<div class="property_block_wrap_header">
									<h4 class="property_block_title">پلان طبقه</h4>
								</div>
								
								<div class="block-body">
									<div class="accordion" id="floor-option">
										<div class="card">
											<div class="card-header" id="groundFloor">
												<h2 class="mb-0">
													<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#groundfloor">طبقه همکف</button>									
												</h2>
												<div class="floor_listeo">
													<ul>
														<li>اتاق خواب: 4</li>
														<li>حمام: 2</li>
														<li>مساحت: 1000 مترمربع</li>
													</ul>
												</div>
											</div>
											<div id="groundfloor" class="collapse show" aria-labelledby="groundFloor" data-parent="#floor-option">
												<div class="card-body">
													<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="firstFloor">
												<h2 class="mb-0">
													<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#firstfloor">طبقه اول <span>710 مترمربع</span></button>
												</h2>
												<div class="floor_listeo">
													<ul>
														<li>اتاق خواب: 4</li>
														<li>حمام: 2</li>
														<li>مساحت: 1000 مترمربع</li>
													</ul>
												</div>
											</div>
											<div id="firstfloor" class="collapse" aria-labelledby="firstFloor" data-parent="#floor-option">
												<div class="card-body">
													<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="seconfFloor">
												<h2 class="mb-0">
													<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#secondfloor">طبقه دوم <span>520 مترمربع</span></button>                     
												</h2>
												<div class="floor_listeo">
													<ul>
														<li>اتاق خواب: 4</li>
														<li>حمام: 2</li>
														<li>مساحت: 1000 مترمربع</li>
													</ul>
												</div>
											</div>
											<div id="secondfloor" class="collapse" aria-labelledby="seconfFloor" data-parent="#floor-option">
												<div class="card-body">
													<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
							<!-- Single Block Wrap -->
							<div class="property_block_wrap">
								
								<div class="property_block_wrap_header">
									<h4 class="property_block_title">موقعیت</h4>
								</div>
								
								<div class="block-body">
									<div class="map-container">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207371.97794182188!2d51.2097318698786!3d35.69701178750461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1633971213542!5m2!1sen!2s" class="full-width" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
									</div>

								</div>
								
							</div>
							
							<!-- Single Reviews Block -->
							<div class="property_block_wrap">
								
								<div class="property_block_wrap_header">
									<h4 class="property_block_title">12 نظرات</h4>
								</div>
								
								<div class="block-body">
									<div class="rating-overview">
										<div class="rating-overview-box">
											<span class="rating-overview-box-total">4.8</span>
											<span class="rating-overview-box-percent">از 5.0</span>
											<div class="star-rating" data-rating="5"><i class="fa fa-star filled"></i><i class="fa fa-star filled"></i><i class="fa fa-star filled"></i><i class="fa fa-star filled"></i><i class="fa fa-star filled"></i>
											</div>
										</div>

										<div class="rating-bars">
											<div class="rating-bars-item">
												<span class="rating-bars-name">ویژگی</span>
												<span class="rating-bars-inner">
													<span class="rating-bars-rating high" data-rating="4.7">
														<span class="rating-bars-rating-inner" style="width: 85%;"></span>
													</span>
													<strong>4.7</strong>
												</span>
											</div>
											<div class="rating-bars-item">
												<span class="rating-bars-name">قیمت</span>
												<span class="rating-bars-inner">
													<span class="rating-bars-rating good" data-rating="3.9">
														<span class="rating-bars-rating-inner" style="width: 75%;"></span>
													</span>
													<strong>3.9</strong>
												</span>
											</div>
											<div class="rating-bars-item">
												<span class="rating-bars-name">موقعیت</span>
												<span class="rating-bars-inner">
													<span class="rating-bars-rating mid" data-rating="6.2">
														<span class="rating-bars-rating-inner" style="width: 65.2%;"></span>
													</span>
													<strong>6.2</strong>
												</span>
											</div>
											<div class="rating-bars-item">
												<span class="rating-bars-name">پشتیبانی</span>
												<span class="rating-bars-inner">
													<span class="rating-bars-rating high" data-rating="7.0">
														<span class="rating-bars-rating-inner" style="width:70%;"></span>
													</span>
													<strong>7.0</strong>
												</span>
											</div>
										</div>
									</div>
							
									<div class="author-review">
										<div class="comment-list">
											<ul>
												<li class="article_comments_wrap">
													<article>
														<div class="article_comments_thumb">
															<img src="{% static 'assets/img/team-4.jpg' %}" alt="">
														</div>
														<div class="comment-details">
															<div class="comment-meta">
																<div class="comment-left-meta">
																	<h4 class="author-name">مریم معصومی</h4>
																	<div class="comment-date">17 مرداد 1400</div>
																</div>
															</div>
															<div class="comment-text">
																<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
															</div>
														</div>
													</article>
												</li>
												<li class="article_comments_wrap">
													<article>
														<div class="article_comments_thumb">
															<img src="{% static 'assets/img/team-5.jpg' %}" alt="">
														</div>
														<div class="comment-details">
															<div class="comment-meta">
																<div class="comment-left-meta">
																	<h4 class="author-name">مهدی رمضانی</h4>
																	<div class="comment-date">21 شهریور 1400</div>
																</div>
															</div>
															<div class="comment-text">
																<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
															</div>
														</div>
													</article>
												</li>
												<li class="article_comments_wrap">
													<article>
														<div class="article_comments_thumb">
															<img src="{% static 'assets/img/team-6.jpg' %}" alt="">
														</div>
														<div class="comment-details">
															<div class="comment-meta">
																<div class="comment-left-meta">
																	<h4 class="author-name">رضا محسنی</h4>
																	<div class="comment-date">10 مهر 1400</div>
																</div>
															</div>
															<div class="comment-text">
																<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
															</div>
														</div>
													</article>
												</li>
											</ul>
										</div>
									</div>
									<a href="#" class="reviews-checked">نظرات بیشتر</a>
								</div>
								
							</div>

							<!-- Single Write a Review -->
							<div class="property_block_wrap">
								
								<div class="property_block_wrap_header">
									<h4 class="property_block_title">ارسال نظرات</h4>
								</div>
								
								<div class="block-body">
									<div class="row">
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>نام</label>
												<input type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<label>ایمیل</label>
												<input type="email" class="form-control">
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>پیام</label>
												<textarea class="form-control ht-80"></textarea>
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<button class="btn theme-bg rounded" type="submit">ارسال نظر</button>
											</div>
										</div>
										
									</div>
								</div>
								
							</div>
							
						</div>
						
						<!-- property Sidebar -->
						<div class="col-lg-4 col-md-12 col-sm-12">
							<div class="property-sidebar">
								
								
							
								<!-- Agent Detail -->
								<div class="sider_blocks_wrap">
									<div class="side-booking-body">
										<div class="agent-_blocks_title">
										
											<div class="agent-_blocks_thumb"><img src="{% static 'assets/img/user-6.jpg' %}" alt=""></div>
											<div class="agent-_blocks_caption">
												<h4><a href="#">مریم معصومی</a></h4>
												<span class="approved-agent"><i class="ti-check"></i>تایید شده</span>
											</div>
											<div class="clearfix"></div>
										</div>
										
										<a href="#" class="agent-btn-contact" data-toggle="modal" data-target="#autho-message"><i class="ti-comment-alt"></i>پیام</a>
										
										<span id="number" data-last="{{post.nevisande.admininformation.phone}}">
											<span><i class="ti-headphone-alt"></i><a class="see">نمایش 09...</a></span>
										</span>
									</div>
								</div>
								
							
								
								<!-- Similar Property -->
								<div class="sidebar-widgets">
									
									<h4>املاک مشابه</h4>
									
									<div class="sidebar_featured_property">
										
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="{% static 'assets/img/p-1.png' %}" class="img-fluid" alt="" />
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">آپارتمان در مرکز شهر</a></h4>
												<span><i class="ti-location-pin"></i>تهران</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix sale">برای فروش</div>
													</div>
													<div class="lists_property_price_value">
														<h4>4,240 تومان</h4>
													</div>
												</div>
											</div>
										</div>
										
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="{% static 'assets/img/p-4.png' %}" class="img-fluid" alt="" />
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">آپارتمان در مرکز شهر</a></h4>
												<span><i class="ti-location-pin"></i>تهران</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix">برای اجاره</div>
													</div>
													<div class="lists_property_price_value">
														<h4>7,380 تومان</h4>
													</div>
												</div>
											</div>
										</div>
										
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="{% static 'assets/img/p-7.png' %}" class="img-fluid" alt="" />
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">آپارتمان در مرکز شهر</a></h4>
												<span><i class="ti-location-pin"></i>تهران</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix buy">برای فروش</div>
													</div>
													<div class="lists_property_price_value">
														<h4>8,730 تومان</h4>
													</div>
												</div>
											</div>
										</div>
										
										<!-- List Sibar Property -->
										<div class="sides_list_property">
											<div class="sides_list_property_thumb">
												<img src="{% static 'assets/img/p-5.png' %}" class="img-fluid" alt="" />
											</div>
											<div class="sides_list_property_detail">
												<h4><a href="single-property-1.html">آپارتمان در مرکز شهر</a></h4>
												<span><i class="ti-location-pin"></i>تهران</span>
												<div class="lists_property_price">
													<div class="lists_property_types">
														<div class="property_types_vlix">برای اجاره</div>
													</div>
													<div class="lists_property_price_value">
														<h4>6,240 تومان</h4>
													</div>
												</div>
											</div>
										</div>
										
									</div>
									
								</div>
							
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- ============================ Property Detail End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3>آیا سوالی دارید؟</h3>
									<span>ما به شما کمک می کنیم تا شغل و پیشرفت خود را افزایش دهید.</span>
								</div>
								<a href="#" class="btn btn-call_action_wrap">امروز با ما تماس بگیرید</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			

{% endblock %}