{% extends 'base.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">


			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Page Title Start================================== -->
			<div class="page-title" style="background:#f4f4f4 url({% static 'assets/img/slider-5.jpg' %});" data-overlay="5">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="breadcrumbs-wrap">
								<ol class="breadcrumb">
									<li class="breadcrumb-item active" aria-current="page">پروفایل من</li>
								</ol>
								<h2 class="breadcrumb-title">حساب کاربری و پروفایل من</h2>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ User Dashboard ================================== -->
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<section class="gray pt-5 pb-5">
				<div class="container-fluid">
								
					<div class="row">
						
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="property_dashboard_navbar">
								
								<div class="dash_user_avater">
									<img src="{% static 'assets/img/user-3.jpg' %}" class="img-fluid avater" alt="">
									<h4>محمود قلی زاده</h4>
									<span>ایران تبریز</span>
								</div>
								
								<div class="dash_user_menues">
									<ul>
										<li><a href="dashboard.html"><i class="fa fa-tachometer-alt"></i>داشبورد<span class="notti_coun style-1">4</span></a></li>
										<li class="active"><a href="my-profile.html"><i class="fa fa-user-tie"></i>پروفایل من</a></li>
										<li><a href="bookmark-list.html"><i class="fa fa-bookmark"></i>املاک ذخیره شده<span class="notti_coun style-2">7</span></a></li>
										<li><a href="my-property.html"><i class="fa fa-tasks"></i>ملک های من</a></li>
										<li><a href="messages.html"><i class="fa fa-envelope"></i>پیام ها<span class="notti_coun style-3">3</span></a></li>
										<li><a href="choose-package.html"><i class="fa fa-gift"></i>انتخاب بسته<span class="expiration">10 روز مونده</span></a></li>
										<li><a href="{% url 'posts:save_post'%}"><i class="fa fa-pen-nib"></i>ثبت املاک جدید</a></li>
										<li><a href="change-password.html"><i class="fa fa-unlock-alt"></i>تغییر رمز عبور</a></li>
									</ul>
								</div>
								
								<div class="dash_user_footer">
									<ul>
										<li><a href="#"><i class="fa fa-power-off"></i></a></li>
										<li><a href="#"><i class="fa fa-comment"></i></a></li>
										<li><a href="#"><i class="fa fa-cog"></i></a></li>
									</ul>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="dashboard-body">
							
								<div class="dashboard-wraper">
								
									<!-- Basic Information -->
									<div class="frm_submit_block">	
										<h4>حساب کاربری من</h4>
										<div class="frm_submit_wrap">
											<div class="form-row">
											
												<div class="form-group col-md-6">
													<label>نام شما</label>
													<input name='full_name' type="text" class="form-control"
													value="{{ get_object.full_name }}" >
												</div>
												
												<div class="form-group col-md-6">
													<label>ایمیل</label>
													<input name='Email' type="email" class="form-control" value="{{ get_object.Email }}">
												</div>
												
												<div class="form-group col-md-6">
													<label>مهارت</label>
													<input name='semat' type="text" class="form-control"
													value="{{ get_object.semat }}" >
												</div>
												
												<div class="form-group col-md-6">
													<label>تلفن</label>
													<input name='phone' type="text" class="form-control" value="{{ get_object.phone }}" >
												</div>
												<div class="form-group col-md-6">
													<label>تلفن</label>
													<input name='phone_2' type="text" class="form-control" value="{{ get_object.phone_2 }}" >
												</div>
												
												<div class="form-group col-md-6">
													<label>آدرس</label>
													<input name='address' type="text" class="form-control" value="{{ get_object.address }}">
												</div>
												
												<div class= "form-group col-md-6">
													<label>شهر</label>
													<input name='city' type="text" class="form-control" value="{{ get_object.city }}" >
												</div>
					
												<div class="form-group col-md-6">
													<label>کد پستی</label>
													<input name='code_posty' type="text" class="form-control" value="{{ get_object.code_posty }}">
												</div>
												
												<div class="form-group col-md-12">
													<label>درباره من</label>
													<input name='about_me' class="form-control"
												value="{{ get_object.about_me }}"></input>
												</div>
												
											</div>
										</div>
									</div>
									
									<div class="frm_submit_block">	
										<h4>حساب های شبکه اجتماعی</h4>
										<div class="frm_submit_wrap">
											<div class="form-row">
											
												<div class="form-group col-md-6">
													<label>whats_app</label>
													<input name='whats_app' type="text" class="form-control" value="{{ get_object.whats_app }}">
												</div>
												
												<div class="form-group col-md-6">
													<label>instagram</label>
													<input name='insta' type="text" class="form-control"value="{{ get_object.insta }}">
												</div>
												
												<div class="form-group col-md-6">
													<label>telegram</label>
													<input name='telegram' type="text" class="form-control" value="{{ get_object.telegram }}">
												</div>
												
												<div class="form-group col-lg-12 col-md-12 mt-4">
													<button value='save' class="btn btn-theme btn-lg" type="submit">ذخیره تغییرات</button>
												</div>
												
											</div>
										</div>
									</div>
									
								</div>
							
							</div>
						</div>
						
					</div>
				</div>
			</section>
		</form>
			<!-- ============================ User Dashboard End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3>آیا سوالی دارید؟</h3>
									<span>ما به شما کمک می کنیم تا شغل و پیشرفت خود را افزایش دهید.</span>
								</div>
								<a href="#" class="btn btn-call_action_wrap">امروز با ما تماس بگیرید</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->

			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-xl login-pop-form" role="document">
					<div class="modal-content overli" id="registermodal">
						<div class="modal-body p-0">
							<div class="resp_log_wrap">
								<div class="resp_log_thumb" style="background:url({% static 'assets/img/log.jpg' %})no-repeat;"></div>
								<div class="resp_log_caption">
									<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
									<div class="edlio_152">
										<ul class="nav nav-pills tabs_system center" id="pills-tab" role="tablist">
										  <li class="nav-item">
											<a class="nav-link active" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true"><i class="fas fa-sign-in-alt ml-2"></i>ورود</a>
										  </li>
										  <li class="nav-item">
											<a class="nav-link" id="pills-signup-tab" data-toggle="pill" href="#pills-signup" role="tab" aria-controls="pills-signup" aria-selected="false"><i class="fas fa-user-plus ml-2"></i>ثبت نام</a>
										  </li>
										</ul>
									</div>
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
											<div class="login-form">
												<form>
												
													<div class="form-group">
														<label>نام کاربری</label>
														<div class="input-with-icon">
															<input type="text" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>کلمه عبور</label>
														<div class="input-with-icon">
															<input type="password" class="form-control">
															<i class="ti-unlock"></i>
														</div>
													</div>
													
													<div class="form-group">
														<div class="eltio_ol9">
															<div class="eltio_k1">
																<input id="dd" class="checkbox-custom" name="dd" type="checkbox">
																<label for="dd" class="checkbox-custom-label">مرا به خاطر بسپار</label>
															</div>	
															<div class="eltio_k2">
																<a href="#">کلمه عبور خود را فراموش کرده اید؟</a>
															</div>	
														</div>
													</div>
													
													<div class="form-group">
														<button type="submit" class="btn btn-md full-width pop-login">ورود به سیستم</button>
													</div>
												
												</form>
											</div>
										</div>
										<div class="tab-pane fade" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
											<div class="login-form">
												<form>
												
													<div class="form-group">
														<label>نام و نام خانوادگی</label>
														<div class="input-with-icon">
															<input type="text" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>آدرس ایمیل</label>
														<div class="input-with-icon">
															<input type="email" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>کلمه عبور</label>
														<div class="input-with-icon">
															<input type="password" class="form-control">
															<i class="ti-unlock"></i>
														</div>
													</div>
													
													<div class="form-group">
														<div class="eltio_ol9">
															<div class="eltio_k1">
																<input id="dds" class="checkbox-custom" name="dds" type="checkbox">
																<label for="dds" class="checkbox-custom-label">با استفاده از وب سایت ، شرایط و ضوابط را می پذیرید</label>
															</div>	
														</div>
													</div>
													
													<div class="form-group">
														<button type="submit" class="btn btn-md full-width pop-login">ثبت نام</button>
													</div>
												
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->


	</body>

</html>
{% endblock %}