{% extends 'base.html' %}
{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">


			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Page Title Start================================== -->
			<div class="page-title" style="background:#f4f4f4 url({% static 'assets/img/slider-5.jpg' %});" data-overlay="5">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="breadcrumbs-wrap">
								<ol class="breadcrumb">
									<li class="breadcrumb-item active" aria-current="page">ثبت ملک</li>
								</ol>
								<h2 class="breadcrumb-title">ملک خود را ارسال کنید</h2>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ User Dashboard ================================== -->

			<section class="gray pt-5 pb-5">
				<div class="container-fluid">
								
					<div class="row">
						
						<div class="col-lg-3 col-md-4">
							<div class="property_dashboard_navbar">
								
								<div class="dash_user_avater">
									<img src="{% static 'assets/img/user-3.jpg' %}" class="img-fluid avater" alt="">
									<h4>محمود قلی زاده</h4>
									<span>ایران تبریز</span>
								</div>
								
								<div class="dash_user_menues">
									<ul>
										<li><a href="dashboard.html"><i class="fa fa-tachometer-alt"></i>داشبورد<span class="notti_coun style-1">4</span></a></li>
										<li><a href="my-profile.html"><i class="fa fa-user-tie"></i>پروفایل من</a></li>
										<li><a href="bookmark-list.html"><i class="fa fa-bookmark"></i>املاک ذخیره شده<span class="notti_coun style-2">7</span></a></li>
										<li><a href="my-property.html"><i class="fa fa-tasks"></i>ملک های من</a></li>
										<li><a href="messages.html"><i class="fa fa-envelope"></i>پیام ها<span class="notti_coun style-3">3</span></a></li>
										<li><a href="choose-package.html"><i class="fa fa-gift"></i>انتخاب بسته<span class="expiration">10 روز مونده</span></a></li>
										<li class="active"><a href="submit-property-dashboard.html"><i class="fa fa-pen-nib"></i>ثبت املاک جدید</a></li>
										<li><a href="change-password.html"><i class="fa fa-unlock-alt"></i>تغییر رمز عبور</a></li>
									</ul>
								</div>
								
								<div class="dash_user_footer">
									<ul>
										<li><a href="#"><i class="fa fa-power-off"></i></a></li>
										<li><a href="#"><i class="fa fa-comment"></i></a></li>
										<li><a href="#"><i class="fa fa-cog"></i></a></li>
									</ul>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-8">
							<div class="dashboard-body">
					
								<div class="dashboard-wraper">
									<div class="row">
										
										<!-- Submit Form -->
										<div class="col-lg-12 col-md-12">
										
											<div class="submit-page">
											 <form  method='post' enctype="multipart/form-data">
												{% csrf_token %}
											
												<!-- Basic Information -->
											 <div class="frm_submit_block">	
													<h3>اطلاعات اولیه</h3>
													<div class="frm_submit_wrap">
														<div class="form-row">
														
															<div class="form-group col-md-12">
																<label for="id_titr">عنوان ملک<a href="#" class="tip-topdata" data-tip="عنوان ملک"><i class="ti-help"></i></a></label>
																<input  type="text" name="titr" maxlength="150" required id="id_titr" class="form-control">
															</div>
															
															<div class="form-group col-md-6">
																<label>وضعیت</label>
																<select name='status_buy' id="status" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="برای خرید">برای خرید</option>
																	<option value="برای رهن و اجاره">برای رهن و اجاره</option>
																</select>
															</div>
															
															{% comment %} <div class="form-group col-md-6">
																<label>نوع ملک</label>
																<select id="ptypes" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">خانه</option>
																	<option value="2">آپارتمان</option>
																	<option value="3">ویلایی</option>
																	<option value="4">تجاری</option>
																	<option value="5">اداری</option>
																	<option value="6">گاراژ</option>
																</select> 
															</div> {% endcomment %}
															
															<div class="form-group col-md-6">
																<label for="id_gheymat">اندازه</label>
																<input name="andaze" type="number" class="form-control" placeholder="تومان">
															</div>
															<div class="form-group col-md-6">
																<label for="id_gheymat">طبقه</label>
																<input name="tabaghe" type="number" class="form-control" placeholder="تومان">
															</div>
															<div class="form-group col-md-6">
																<label for="id_gheymat">tedad_tabaghe</label>
																<input name="tedad_tabaghe" type="number" class="form-control" placeholder="تومان">
															</div>
															<div class="form-group col-md-6">
																<label for="id_gheymat">tedad_vahed_tabaghe</label>
																<input name="tedad_vahed_tabaghe" type="number" class="form-control" placeholder="تومان">
															</div>
															<div class="form-group col-md-6">
																<label for="id_gheymat">قیمت</label>
																<input name="gheymat" type="number" class="form-control" placeholder="تومان">
															</div>
															<div class="form-group col-md-6">
																<label>gheymat_rahn</label>
																<input name="gheymat_rahn" type="number" class="form-control" placeholder="تومان">
															</div>
															<div class="form-group col-md-6">
																<label>Gheymat ejare:</label>
																<input name='gheymat_ejare' type="number" class="form-control" placeholder="تومان">
															</div>
														
															<div class="form-group col-md-6">
																<label>منطقه</label>
																<input name="locations" type="text" class="form-control">
															</div>
															
															
															
															
															
															
															<div class="form-group col-md-6">
																<label for="id_sanad">سند:</label>
																<select name="sanad" id="bedrooms" class="form-control">
																	<option value="شش دانگ">شش دانگ</option>
																	<option value="مشاع">مشاع</option>
																	<option value="اصلاحات ارضی">اصلاحات ارضی</option>
																</select>
															</div>
															<div class="form-group col-md-6">
																<label>tedad_dastshoe</label>
																<input name="tedad_dastshoe" type="number" class="form-control">
															</div>
															
															
															
														</div>
													</div>
												</div> 
												
												
												<!-- Gallery -->
								<div class="frm_submit_block">	
									<h3>گالری</h3>
									<div class="frm_submit_wrap">
										<div class="form-row">
										
											<div class="form-group col-md-12">
												<label>
													<i class="ti-gallery"></i>
													<span>برای تغییر عکس ها بکشید و رها کنید</span>
												</label>
												
													<div >
														<input type="file" name="image" accept="image/*" class="dz-default dz-message dropzone dz-clickable primary-dropzone" >
													</div>
												
											</div>

											<div class="form-group col-md-12">
												<label>
													<i class="ti-gallery"></i>
													<span>برای تغییر عکس ها بکشید و رها کنید</span>
												</label>
												
													<div >
														<input type="file" name="images" accept="image/*" class="dz-default dz-message dropzone dz-clickable primary-dropzone" multiple>
													</div>
												
											</div>
											
										</div>
									</div>
								</div>
								
												
												
												<div class="frm_submit_block">	
													<h3>اطلاعات دقیق</h3>
													<div class="frm_submit_wrap">
														<div class="form-row">
												
															<div class="form-group col-md-12">
																<label>توضیحات</label>
																<textarea name="tozihat_karbar" class="form-control h-120"></textarea>
															</div>
															<div class="form-group col-md-12">
																<label> توضیحات خصوصی</label>
																<textarea name="tozihat_khososy" class="form-control h-120"></textarea>
															</div>
															
															<div class="form-group col-md-4">
																<label>سن ساختمان </label>
																<select name = "sal_sakht"id="bage" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="0-5">0-5</option>
																	<option value="5-10">5-10</option>
																	<option value="10-20">10-20</option>
																	<option value="20+">20+</option>
															
																</select>
															</div>
															
															
															<div class="form-group col-md-4">
																<label>اتاق ها </label>
																<select name="tedad_otagh" id="rooms" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																</select>
															</div>

															<div class="form-group col-md-4">
																<label>parking</label>
																<select name="parking" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value=1>1</option>
																	<option value=2>2</option>
																	<option value=3>3</option>
																	<option value=4>4</option>
																	<option value=5>5</option>
																	<option value=6>6</option>
																</select>
															</div>

															<div class="form-group col-md-12">
																<label>سایر ویژگی ها (اختیاری)</label>
																<div class="o-features">
																	<ul class="no-ul-list third-row">
																		<li>
																			<input id="a-1" class="checkbox-custom" name="tahvie" type="checkbox">
																			<label for="a-1" class="checkbox-custom-label">تهویه کننده هوا</label>
																		</li>
																		<li>
																			<input id="a-2" class="checkbox-custom" name="bed" type="checkbox">
																			<label for="a-2" class="checkbox-custom-label">تختواب</label>
																		</li>
																		<li>
																			<input id="a-3" class="checkbox-custom" name="system_garmayeshi" type="checkbox">
																			<label for="a-3" class="checkbox-custom-label">سیستم گرمایشی</label>
																		</li>
																		<li>
																			<input id="a-4" class="checkbox-custom" name="internet" type="checkbox">
																			<label for="a-4" class="checkbox-custom-label">اینترنت</label>
																		</li>
																		<li>
																			<input id="a-5" class="checkbox-custom" name="micro" type="checkbox">
																			<label for="a-5" class="checkbox-custom-label">مایکروویو</label>
																		</li>
																		<li>
																			<input id="a-6" class="checkbox-custom" name="sigary" type="checkbox">
																			<label for="a-6" class="checkbox-custom-label">سیگار کشیدن</label>
																		</li>
																		<li>
																			<input id="a-7" class="checkbox-custom" name="trass" type="checkbox">
																			<label for="a-7" class="checkbox-custom-label">تراس</label>
																		</li>
																		<li>
																			<input id="a-8" class="checkbox-custom" name="balcony" type="checkbox">
																			<label for="a-8" class="checkbox-custom-label">بالکن</label>
																		</li>
																		<li>
																			<input id="a-9" class="checkbox-custom" name="active" type="checkbox">
																			<label for="a-9" class="checkbox-custom-label">نمایش داده شود؟</label>
																		</li>
																		<li>
																			<input id="a-10" class="checkbox-custom" name="wifi" type="checkbox">
																			<label for="a-10" class="checkbox-custom-label">وای فای</label>
																		</li>
																		<li>
																			<input id="a-11" class="checkbox-custom" name="sahel" type="checkbox">
																			<label for="a-11" class="checkbox-custom-label">ساحل دریا</label>
																		</li>
																		
																	</ul>
																</div>
															</div>
															
														</div>
													</div>
												</div>
												 
												<!-- Contact Information -->
											{% comment %} <div class="frm_submit_block">	
													<h3>اطلاعات تماس</h3>
													<div class="frm_submit_wrap">
														<div class="form-row">
														
															<div class="form-group col-md-4">
																<label>نام</label>
																<input type="text" class="form-control">
															</div>
															
															<div class="form-group col-md-4">
																<label>ایمیل</label>
																<input type="text" class="form-control">
															</div>
															
															<div class="form-group col-md-4">
																<label>تلفن (اختیاری)</label>
																<input type="text" class="form-control">
															</div>
															
														</div>
													</div>
													{% endcomment %}
												</div> 
												
												
												<div class="form-group col-lg-12 col-md-12">
													<button class="btn btn-theme" value="save" type="submit">ارسال و پیشنمایش</button>
												</div> 
												 
											</form>			
											</div>
										</div>
										
									</div>
									
								</div>
								<!-- row -->

							</div>
						</div>
						
					</div>
				</div>
			</section> 

			<!-- ============================ User Dashboard End ================================== -->
			
			 
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-xl login-pop-form" role="document">
					<div class="modal-content overli" id="registermodal">
						<div class="modal-body p-0">
							<div class="resp_log_wrap">
								<div class="resp_log_thumb" style="background:url(assets/img/log.jpg)no-repeat;"></div>
								<div class="resp_log_caption">
									<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
									<div class="edlio_152">
										<ul class="nav nav-pills tabs_system center" id="pills-tab" role="tablist">
										  <li class="nav-item">
											<a class="nav-link active" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true"><i class="fas fa-sign-in-alt ml-2"></i>ورود</a>
										  </li>
										  <li class="nav-item">
											<a class="nav-link" id="pills-signup-tab" data-toggle="pill" href="#pills-signup" role="tab" aria-controls="pills-signup" aria-selected="false"><i class="fas fa-user-plus ml-2"></i>ثبت نام</a>
										  </li>
										</ul>
									</div>
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
											<div class="login-form">
												<form>
												
													<div class="form-group">
														<label>نام کاربری</label>
														<div class="input-with-icon">
															<input type="text" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>کلمه عبور</label>
														<div class="input-with-icon">
															<input type="password" class="form-control">
															<i class="ti-unlock"></i>
														</div>
													</div>
													
													<div class="form-group">
														<div class="eltio_ol9">
															<div class="eltio_k1">
																<input id="dd" class="checkbox-custom" name="dd" type="checkbox">
																<label for="dd" class="checkbox-custom-label">مرا به خاطر بسپار</label>
															</div>	
															<div class="eltio_k2">
																<a href="#">کلمه عبور خود را فراموش کرده اید؟</a>
															</div>	
														</div>
													</div>
													
													<div class="form-group">
														<button type="submit" class="btn btn-md full-width pop-login">ورود به سیستم</button>
													</div>
												
												</form>
											</div>
										</div>
										<div class="tab-pane fade" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
											<div class="login-form">
												<form>
												
													<div class="form-group">
														<label>نام و نام خانوادگی</label>
														<div class="input-with-icon">
															<input type="text" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>آدرس ایمیل</label>
														<div class="input-with-icon">
															<input type="email" class="form-control">
															<i class="ti-user"></i>
														</div>
													</div>
													
													<div class="form-group">
														<label>کلمه عبور</label>
														<div class="input-with-icon">
															<input type="password" class="form-control">
															<i class="ti-unlock"></i>
														</div>
													</div>
													
													<div class="form-group">
														<div class="eltio_ol9">
															<div class="eltio_k1">
																<input id="dds" class="checkbox-custom" name="dds" type="checkbox">
																<label for="dds" class="checkbox-custom-label">با استفاده از وب سایت ، شرایط و ضوابط را می پذیرید</label>
															</div>	
														</div>
													</div>
													
													<div class="form-group">
														<button type="submit" class="btn btn-md full-width pop-login">ثبت نام</button>
													</div>
												
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
		
		<script src="{% static 'assets/js/dropzone.js' %}"></script>
		<!-- New Js -->

	</body>

</html>

 
{% endblock %}